/**
SITE COLORS
 */
$color-primary: #000;
$color-btn-primary: #18B69B;
$color-btn-primary-hover: #3b9b8b;
$color-btn-primary-disabled: #5d978ebd;

 /**
FONTS AND STYLES
 */
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Inter', sans-serif;